<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDisplayName</key><string>Leah Cloud Agent</string>
  <key>CFBundleExecutable</key><string>LeahCloudAgent</string>
  <key>CFBundleIdentifier</key><string>br.com.eduardocastro.c3po.leah-cloud</string>
  <key>CFBundleInfoDictionaryVersion</key><string>6.0</string>
  <key>CFBundleName</key><string>Leah Cloud Agent</string>
  <key>CFBundlePackageType</key><string>APPL</string>
  <key>CFBundleShortVersionString</key><string>0.1.0</string>
  <key>CFBundleVersion</key><string>1</string>
  <key>LSMinimumSystemVersion</key><string>14.0</string>
  <key>NSCalendarsFullAccessUsageDescription</key><string>A Leah Cloud sincroniza seus calendários pessoais com seu espaço privado no C3PO.</string>
  <key>NSRemindersFullAccessUsageDescription</key><string>A Leah Cloud sincroniza seus lembretes pessoais com seu espaço privado no C3PO.</string>
  <key>NSPrincipalClass</key><string>NSApplication</string>
</dict>
</plist>
